<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowledgeBase</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app_default.css">
    <link rel="stylesheet" href="../css/style_menu.css">
    <link rel="stylesheet" href="../css/login_register.css">
    <link rel="stylesheet" href="../css/style_categories.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
  </head>

<body>
    <div class="grid-container" id="home">
      <div class="grid-x grid-padding-x">
        <div class="large-1 medium-1 small-2 cell">
          <h1><a href="../Pages/index.php">KB</a></h1>
        </div>
        <div class="large-5 medium-5 small-8 cell">
          <form>
          <input style="font-family: 'Font Awesome 5 Free'; font-weight: 700;" class="form-control me-2" type="search" placeholder=" &#xf002; SEARCH" aria-label="Search">
          </form>
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ul class="horizontal menu menu-hover-lines" data-magellan>
            <li><a href="index.php">Home</a></li>
            <li id="categories"><a href="categories.php">Categories</a></li>
            <li><a href="institutes.php">Institutes</a></li>
            <li><a href="instructors.php">Instructors</a></li>
            <div class="dropdown">
              <object data="../assets/down-arrow.svg" width="20" height="20"></object>
              <div class="dropdown-content">
                <a href="../Pages/login.php">Login</a>
                <a href="../Pages/registration.php">Register</a>
              </div>
            </div>
          </ul>
        </div>
</div>